build/
install/
log/
.vscode/
.DS_Store
*.swp
src/xarm_ros2/

# Local caches / runs
rl/.venv/
rl/__pycache__/
rl/scripts/__pycache__/
isaac_bridge/scripts/__pycache__/
rl/logdir/
# Python artifacts
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/

# Local venvs
.venv/
